<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/inv">Classic</a></li>
    <li><a href="/inv">Luxury</a></li>
    <li><a href="/inv">New Car</a></li>
    <li><a href="/inv">Sport</a></li>
    <li><a href="/inv">SUV</a></li>
    <li><a href="/inv">Truck</a></li>
    
   <% if (locals.loggedin) { %>
  <li>Welcome, <%= locals.account_firstname %>!</li>
  <li><a href="/account/">Account Management</a></li>
  <li><a href="/account/logout">Logout</a></li>
<% } else { %>
  <li><a href="/account/login">My Account</a></li>
<% } %>

  </ul>
</nav>