<h1> Welcome to CSE Motors!</h1>
<div class= "main-main-container">
    <div class="car-image">
        <img src="/images/vehicles/delorean.jpg" alt="DMC Deloren">
    </div>
    <div class="car-info">
        <h2>DMC Deloren</h2>
        <p>3 Cup holders <br>Superman doors<br>Fuzzy dice <br></p>
        <strong>Own Today</strong>
    </div>
</div>''

<div class="upgrades">
    <h3>Deloren Upgrades</h3>
     <img src="/images/upgrades/flux-cap.png" alt="DMC Deloren">
      <img src="/images/upgrades/flame.jpg" alt="DMC Deloren">
       <img src="/images/upgrades/bumper_sticker.jpg" alt="DMC Deloren">
        <img src="/images/upgrades/hub-cap.jpg" alt="DMC Deloren">
</div>

<div class="reviews">
    <h3>DMC Deloren Reviews</h3>
    <ul>
        <li>"So fast it's almost like travelling in time" (4/5)</li>
         <li>"Coolest ride on thr road" (4/5)</li>
          <li>"I'M feeling McFly" (5/5)</li>
           <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's livin and i love it" (5/5)</li>
    </ul>

</div>

