  <main>
        <h1>Vehicle Management</h1>

        <section id="messages">
            <%- messages() %>
        </section>

        <ul class="management-links">
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Inventory</a></li>
        </ul>
    </main>